// Tutaj przechowujemy zmienne z kolorami
$-color-main: #4a4a49;
$-color-blue: #736FA8;
$-color-orange: #fc7405;
$-color-form: #a1a194;
$-color-background: #F4F4F2;
$-color-background-opening: #FDF5BF;
$-color-btn: #394359;
