@import "src/styles/fonts";
@import "src/styles/reset";
@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/mixins";

.footer {
  width: 100%;
  height: 100px;
  background-color: $-color-background;
  .container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      width: 100%;
      margin-top: 20px;
    }
    .logo {
      width: 100px;
      height: 100px;
      margin-left: 20px;
      @include mobile {
        width: 100px;
        height: 100px;
      }
    }
    .info {
      display: flex;
      font-size: 12px;
      @include mobile {
        font-size: 10px;
        padding-right: 10px;
      }
      .contact {
        display: flex;
        flex-direction: column;
        width: 450px;
        line-height: 20px;
        @include mobile {
          width: 60%;
          padding-left: 25px;
        }
      }
      .rodo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 150px;
        a{
          text-transform: uppercase;
          padding-bottom: 10px;
        }
        a:hover {
          color: $-color-orange;
          transition: 2ms;
        }
        @include mobile {
          width: 40%;
          padding-left: 20px;
        }
      }
    }
  }
}